body{
    margin: 0;
    text-align: center; /*centrar elementos*/
    font-family: "Merriweather",verdana ,sans-serif;
}

h1{
    margin-top: 0;
    font-family: "Sacramento",verdana ,sans-serif;
    /*margin: 0 auto;*/ /*centrar texto*/
}

.top-container{
    background-color: #E4F9F5;
    margin: 0;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    background-color: blue;
    height: 200px;
    width: 200px;
}

.bottom-container{
    background-color: red;
    height: 200px;
    width: 200px;
}

.top-cloud{
    position: absolute;
    right: 30%;
    top: 5%;
    
    
    
}

.bottom-cloud{
    position: absolute;
    left:30%;
    bottom: 40%;
}