body{
    margin: 0;
    text-align: center; /*centrar elementos*/
    font-family: "Merriweather",verdana ,sans-serif;
    font-size: 20px;
}

.subtitle{
    font-weight: normal;
    line-height: 2;
}

h1{
    font-size: 5.62rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento",verdana ,sans-serif;
    /*margin: 0 auto;*/ /*centrar texto*/
    color: #66BFBF;
    line-height: 2;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5 rem;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.skills{
    
}

.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img{
    width: 25%;
    float: left;
    padding-right: 30px;;
}

.dba-img{
    width: 25%;
    float: right;
    padding-left: 30px;;
}

.profile_img{
    width: 200px;
    height: 200px;
    position: relative;
    top:20px;
}

.top-container{
    background-color: #E4F9F5;
    margin: 0;
    position: relative;
    padding-top: 200px;
}

.middle-container{
   
}

.bottom-container{
    background-color: #66BFBF;
    width: 100%;
    height: 150px;
    padding-top: 50px;
    
}

.bottom-container > p{
    color: #EAF6F6;
    text-decoration:none;
    padding-top: 25px;
}

.bottom-container > a{
    text-decoration:none;
    padding-right: 50px;
    
}



.top-cloud{
    position: absolute;
    right: 30%;
    top: 5%;
    
    
    
}

.bottom-cloud{
    position: absolute;
    left:30%;
    bottom: 40%;
}

a{
    color: #11999E;
}

.BUTTON_KVS {
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #489D9D);
    background-image: -moz-linear-gradient(top, #66BFBF, #489D9D);
    background-image: -ms-linear-gradient(top, #66BFBF, #489D9D);
    background-image: -o-linear-gradient(top, #66BFBF, #489D9D);
    background-image: -webkit-gradient(to bottom, #66BFBF, #489D9D);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 2;
    line-height: 2;
    padding: 5px 15px 5px 15px;
    margin: 40px auto 40px auto;
    border: solid #66BFBF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .BUTTON_KVS:hover {
    border: solid #3DABAB 1px;
    background: #66BFBF;
    background-image: -webkit-linear-gradient(top, #66BFBF, #3DABAB);
    background-image: -moz-linear-gradient(top, #66BFBF, #3DABAB);
    background-image: -ms-linear-gradient(top, #66BFBF, #3DABAB);
    background-image: -o-linear-gradient(top, #66BFBF, #3DABAB);
    background-image: -webkit-gradient(to bottom, #66BFBF, #3DABAB);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
 }